body {
    background-color: whitesmoke;
    font-family: 'Josefin Sans', 'Oxygen Mono', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

nav {
    font-family: "Spline Sans Mono", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    background-color: teal;
    color: white;
    width: 100%;
}

#navtext a {
    color: white;
    transition: background-color 0.5s;
    text-decoration: none;
}

#navtext a:hover {
    background-color: rgb(18, 124, 159);
    text-shadow: paleturquoise 1px 0 10px;}

#hero img{
  width: 100%;
}


main {
    background-color: rgba(239, 245, 245, 0.422);
    padding: 25px;
    padding-top: 30px;
    min-height: 1000px;
}

.aboutme {
    display: inline-block;
}

.bio {
    font-size: 13px;
    font-family: 'Oxygen Mono', sans-serif;
    font-weight: 400;
    color: black;
}

#aboutpic {
    float: right;
    padding: 10px;
    text-wrap: 5px ; 
}

#aboutpic img{
    width: 150px;
    height: auto;
}

.specialty{
    background-color: aqua;
    text-align: center;
    font-family: 'Oxygen Mono', sans-serif;

}

.specialist ul{
    list-style-type: none; 
    line-height: 2.5;
    font-weight: 300;
}

.whereever{
   width: 75%;
   height: 300px;
   text-align: center;
   margin: auto;

}

#thoughts {
    background-color: white;
    border: 1px solid black;
    max-width: 100%;
    max-height: 300px;
}

.contact{
    align-self: center;
    width: auto;
    display:flexbox;
    background-color: white;
    height: 500px;
    padding: 10px;
    border: 3px solid black;
}
.thought {
    width: 45%;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 9px;
}

footer {
    text-align: center;
}
