body {
    background-color: whitesmoke;
    font-family: 'Spline Sans Mono', 'Oxygen Mono', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

nav {
    font-family: "Spline Sans Mono", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    background-color: teal;
    color: white;
    width: 100%;
}

#navtext a {
    color: white;
    transition: background-color 0.5s;
    text-decoration: none;
}

#navtext a:hover {
    background-color: rgb(18, 124, 159);
    text-shadow: paleturquoise 1px 0 10px;}

#hero img{
  width: 100%;
}


main {
    background-color: rgba(0, 255, 255, 0.422);
    padding: 10px;
    min-height: 1000px;
}


.aboutme {
    width: 100%;
    font-size: 13px;
    font-family: 'Oxygen Mono', sans-serif;
    font-weight: 400;
    color: black;
    display: inline-block;
}


.aboutme img{
    width: 150px;
    height: auto;
    padding: 10px;
    display: inline-block;
}