@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


body,
html {

  font-family: 'Dosis', 'Avant Garde', sans-serif;
  background: white;
}

.App {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
}

header{
  text-align: center;
}

.socialsloth {
  padding: 10px;
  margin: auto;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  img { width: 100%; height: auto; }
animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

h1 {
  font-size: 2rem;
  margin: 10px 0 0 0;
  font-weight: bolder;
  text-transform: lowercase;
  text-align: center;
  color: rgb(0, 100%, 0);
}

h2 {
  font-size: 1.5rem;
  font-weight: light;
  color: #333333;
  text-align: center;

}



@media only screen and (max-width: 600px) {
  .App {
    padding: 10px;
  }


}
